doc/sil.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:sil="urn://www.sil.org/ldml/0.1" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="ldml.rng">
    <define name="ldml">
      <element name="ldml">
        <ref name="attlist.ldml"/>
        <ref name="identity"/>
        <choice>
          <ref name="alias"/>
          <group>
            <zeroOrMore>
              <ref name="fallback"/>
            </zeroOrMore>
            <optional>
              <ref name="localeDisplayNames"/>
            </optional>
            <optional>
              <ref name="layout"/>
            </optional>
            <optional>
              <ref name="contextTransforms"/>
            </optional>
            <optional>
              <ref name="characters"/>
            </optional>
            <optional>
              <ref name="delimiters"/>
            </optional>
            <optional>
              <ref name="measurement"/>
            </optional>
            <optional>
              <ref name="dates"/>
            </optional>
            <optional>
              <ref name="numbers"/>
            </optional>
            <optional>
              <ref name="units"/>
            </optional>
            <optional>
              <ref name="listPatterns"/>
            </optional>
            <optional>
              <ref name="collations"/>
            </optional>
            <optional>
              <ref name="posix"/>
            </optional>
            <optional>
              <ref name="characterLabels"/>
            </optional>
            <optional>
              <ref name="segmentations"/>
            </optional>
            <optional>
              <ref name="rbnf"/>
            </optional>
            <optional>
              <ref name="typographicNames"/>
            </optional>
            <optional>
              <ref name="annotations"/>
            </optional>
            <optional>
              <ref name="metadata"/>
            </optional>
            <optional>
              <ref name="references"/>
            </optional>
            <optional>
              <ref name="ldml.special"/>
            </optional>
            <zeroOrMore>
              <ref name="special"/>
            </zeroOrMore>
          </group>
        </choice>
      </element>
    </define>
    <define name="identity">
      <element name="identity">
        <ref name="attlist.identity"/>
        <choice>
          <ref name="alias"/>
          <group>
            <ref name="version"/>
            <optional>
              <ref name="generation"/>
            </optional>
            <ref name="language"/>
            <optional>
              <ref name="script"/>
            </optional>
            <optional>
              <ref name="territory"/>
            </optional>
            <optional>
              <ref name="variant"/>
            </optional>
            <optional>
              <ref name="identity.special"/>
            </optional>
            <zeroOrMore>
              <ref name="special"/>
            </zeroOrMore>
          </group>
        </choice>
      </element>
    </define>
    <define name="localeDisplayNames">
      <element name="localeDisplayNames">
        <ref name="attlist.localeDisplayNames"/>
        <choice>
          <ref name="alias"/>
          <group>
            <optional>
              <ref name="localeDisplayPattern"/>
            </optional>
            <optional>
              <ref name="languages"/>
            </optional>
            <optional>
              <ref name="scripts"/>
            </optional>
            <optional>
              <ref name="territories"/>
            </optional>
            <optional>
              <ref name="subdivisions"/>
            </optional>
            <optional>
              <ref name="variants"/>
            </optional>
            <optional>
              <ref name="keys"/>
            </optional>
            <optional>
              <ref name="types"/>
            </optional>
            <optional>
              <ref name="transformNames"/>
            </optional>
            <optional>
              <ref name="measurementSystemNames"/>
            </optional>
            <optional>
              <ref name="codePatterns"/>
            </optional>
            <optional>
              <ref name="localeDisplayNames.special"/>
            </optional>
            <zeroOrMore>
              <ref name="special"/>
            </zeroOrMore>
          </group>
        </choice>
      </element>
    </define>
    <define name="characters">
      <element name="characters">
        <ref name="attlist.characters"/>
        <choice>
          <ref name="alias"/>
          <group>
            <zeroOrMore>
              <ref name="exemplarCharacters"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="ellipsis"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="moreInformation"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="stopwords"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="indexLabels"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="mapping"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="parseLenients"/>
            </zeroOrMore>
            <optional>
              <ref name="characters.special"/>
            </optional>
            <zeroOrMore>
              <ref name="special"/>
            </zeroOrMore>
          </group>
        </choice>
      </element>
    </define>
    <define name="collation">
      <element name="collation">
        <ref name="attlist.collation"/>
        <choice>
          <ref name="alias"/>
          <group>
            <zeroOrMore>
              <ref name="cr"/>
            </zeroOrMore>
            <optional>
              <ref name="collation.special"/>
            </optional>
            <zeroOrMore>
              <ref name="special"/>
            </zeroOrMore>
          </group>
        </choice>
      </element>
    </define>
    <define name="delimiters">
      <element name="delimiters">
        <ref name="attlist.delimiters"/>
        <choice>
          <ref name="alias"/>
          <group>
            <zeroOrMore>
              <ref name="quotationStart"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="quotationEnd"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="alternateQuotationStart"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="alternateQuotationEnd"/>
            </zeroOrMore>
            <optional>
              <ref name="delimiters.special"/>
            </optional>
            <zeroOrMore>
              <ref name="special"/>
            </zeroOrMore>
          </group>
        </choice>
      </element>
    </define>
  </include>
  <define name="attlist.sil.global" combine="interleave">
    <optional>
      <attribute name="draft">
        <choice>
          <value>approved</value>
          <value>contributed</value>
          <value>provisional</value>
          <value>unconfirmed</value>
          <value>tentative</value>
          <value>generated</value>
          <value>suspect</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.global" combine="interleave">
    <optional>
      <attribute name="alt"/>
    </optional>
  </define>
  <define name="attlist.sil.global" combine="interleave">
    <zeroOrMore>
      <attribute name="references"/>
    </zeroOrMore>
  </define>
  <define name="collation.special">
    <element name="special">
      <optional>
        <choice>
          <ref name="sil.reordered"/>
          <ref name="sil.simple"/>
        </choice>
      </optional>
    </element>
  </define>
  <define name="attlist.collation" combine="interleave">
    <optional>
      <attribute name="sil:modified">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.collation" combine="interleave">
    <optional>
      <attribute name="sil:secondary"/>
    </optional>
  </define>
  <define name="attlist.sil.collation" combine="interleave">
    <optional>
      <attribute name="sil:prefrom"/>
    </optional>
  </define>
  <define name="attlist.sil.collation" combine="interleave">
    <optional>
      <attribute name="sil:preto"/>
    </optional>
  </define>
  <define name="attlist.sil.collation" combine="interleave">
    <optional>
      <attribute name="sil:needscompiling">
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  <define name="sil.reordered">
    <element name="sil:reordered">
      <interleave>
        <ref name="attlist.sil.global"/>
        <ref name="attlist.sil.collation"/>
      </interleave>
      <group>
        <zeroOrMore>
          <ref name="sil.reorder"/>
        </zeroOrMore>
        <ref name="cr"/>
      </group>
    </element>
  </define>
  <define name="sil.reorder">
    <element name="sil:reorder">
      <ref name="attlist.sil.reorder"/>
    </element>
  </define>
  <define name="attlist.sil.reorder" combine="interleave">
    <attribute name="match"/>
  </define>
  <define name="attlist.sil.reorder" combine="interleave">
    <attribute name="reorder"/>
  </define>
  <define name="sil.simple">
    <element name="sil:simple">
      <interleave>
        <ref name="attlist.sil.simple"/>
        <ref name="attlist.sil.global"/>
        <ref name="attlist.sil.collation"/>
      </interleave>
      <text/>
    </element>
  </define>
  <define name="attlist.sil.simple" combine="interleave">
    <optional>
      <attribute name="secondaryonly"/>
    </optional>
  </define>
  <define name="attlist.sil.simple" combine="interleave">
    <attribute name="xml:space">
      <value>preserve</value>
    </attribute>
  </define>
  <define name="ldml.special">
    <element name="special">
      <optional>
        <ref name="sil.resources"/>
      </optional>
    </element>
  </define>
  <define name="sil.resources">
    <element name="sil:external-resources">
      <zeroOrMore>
        <ref name="sil.font"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="sil.kbdrsrc"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="sil.spellcheck"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="sil.transform"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="sil.url">
    <element name="sil:url">
      <ref name="attlist.sil.global"/>
      <data type="anyURI"/>
    </element>
  </define>
  <define name="sil.font">
    <element name="sil:font">
      <interleave>
        <ref name="attlist.sil.fontelement"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <zeroOrMore>
        <ref name="sil.url"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <zeroOrMore>
      <attribute name="types">
        <choice>
          <value>default</value>
          <value>heading</value>
          <value>emphasis</value>
          <text/>
        </choice>
      </attribute>
    </zeroOrMore>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <attribute name="name"/>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <optional>
      <attribute name="size">
        <data type="decimal"/>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <optional>
      <attribute name="minversion">
        <data type="decimal"/>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <optional>
      <attribute name="features"/>
    </optional>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <optional>
      <attribute name="lang"/>
    </optional>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <optional>
      <attribute name="otlang"/>
    </optional>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <optional>
      <attribute name="engines">
        <list>
          <oneOrMore>
            <choice>
              <value>gr</value>
              <value>ot</value>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.fontelement" combine="interleave">
    <optional>
      <attribute name="subset"/>
    </optional>
  </define>
  <define name="sil.kbdrsrc">
    <element name="sil:kbd">
      <interleave>
        <ref name="attrlist.sil.kbdrsrc"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <oneOrMore>
        <ref name="sil.url"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attrlist.sil.kbdrsrc" combine="interleave">
    <attribute name="id"/>
  </define>
  <define name="attrlist.sil.kbdrsrc" combine="interleave">
    <optional>
      <attribute name="type">
        <choice>
          <value>kmn</value>
          <value>kmx</value>
          <value>msklc</value>
          <value>ldml</value>
          <value>keylayout</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="sil.spellcheck">
    <element name="sil:spell-checking">
      <interleave>
        <ref name="attlist.sil.spellcheck"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <oneOrMore>
        <ref name="sil.url"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.sil.spellcheck" combine="interleave">
    <attribute name="type"/>
  </define>
  <define name="sil.transform">
    <element name="sil:transform">
      <interleave>
        <ref name="attlist.sil.transform"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <group>
        <optional>
          <ref name="sil.transform.caps"/>
        </optional>
        <optional>
          <ref name="sil.transform.dict"/>
        </optional>
        <oneOrMore>
          <ref name="sil.url"/>
        </oneOrMore>
      </group>
    </element>
  </define>
  <define name="attlist.sil.transform" combine="interleave">
    <attribute name="from"/>
  </define>
  <define name="attlist.sil.transform" combine="interleave">
    <attribute name="to"/>
  </define>
  <define name="attlist.sil.transform" combine="interleave">
    <attribute name="type">
      <choice>
        <value>cct</value>
        <value>perl</value>
        <value>python</value>
        <value>teckit</value>
      </choice>
    </attribute>
  </define>
  <define name="attlist.sil.transform" combine="interleave">
    <attribute name="direction">
      <choice>
        <value>both</value>
        <value>forward</value>
        <value>backward</value>
      </choice>
    </attribute>
  </define>
  <define name="attlist.sil.transform" combine="interleave">
    <optional>
      <attribute name="function"/>
    </optional>
  </define>
  <define name="sil.transform.dict">
    <element name="sil:transform-dict">
      <interleave>
        <ref name="attlist.sil.transform.dict"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <oneOrMore>
        <ref name="sil.url"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.sil.transform.dict" combine="interleave">
    <attribute name="incol">
      <choice>
        <value>0</value>
        <text/>
      </choice>
    </attribute>
  </define>
  <define name="attlist.sil.transform.dict" combine="interleave">
    <attribute name="outcol">
      <choice>
        <value>1</value>
        <text/>
      </choice>
    </attribute>
  </define>
  <define name="attlist.sil.transform.dict" combine="interleave">
    <optional>
      <attribute name="nf">
        <choice>
          <value>nfd</value>
          <value>nfc</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="sil.transform.caps">
    <element name="sil:transform-capitals">
      <interleave>
        <ref name="attlist.sil.transform.caps"/>
        <ref name="attlist.sil.global"/>
      </interleave>
    </element>
  </define>
  <define name="attlist.sil.transform.caps" combine="interleave">
    <optional>
      <attribute name="opengroup">
        <choice>
          <value>&amp;quot;"\u{2018}\u{201C}\[{(&lt;\u00AB</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.transform.caps" combine="interleave">
    <optional>
      <attribute name="closegroup">
        <choice>
          <value>&amp;quot;"\u{2019}\u{201D}\]})&gt;\u00BB</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.transform.caps" combine="interleave">
    <optional>
      <attribute name="sentencefinal">
        <choice>
          <value>.!?</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.transform.caps" combine="interleave">
    <optional>
      <attribute name="startcaps"/>
    </optional>
  </define>
  <define name="identity.special">
    <element name="special">
      <ref name="attlist.identity"/>
      <ref name="sil.identity"/>
    </element>
  </define>
  <define name="sil.identity">
    <element name="sil:identity">
      <interleave>
        <ref name="attlist.sil.identity"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <optional>
        <ref name="sil.identity.committer"/>
      </optional>
    </element>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <optional>
      <attribute name="revid"/>
    </optional>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <optional>
      <attribute name="uid"/>
    </optional>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <zeroOrMore>
      <attribute name="fallbacks"/>
    </zeroOrMore>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <optional>
      <attribute name="source">
        <choice>
          <value>cldr</value>
          <value>cldrseed</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <optional>
      <attribute name="windowsLCID"/>
    </optional>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <optional>
      <attribute name="defaultRegion"/>
    </optional>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <optional>
      <attribute name="variantName"/>
    </optional>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <optional>
      <attribute name="usage">
        <choice>
          <value>unused</value>
          <value>developing</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <zeroOrMore>
      <attribute name="toplevels"/>
    </zeroOrMore>
  </define>
  <define name="attlist.sil.identity" combine="interleave">
    <optional>
      <attribute name="script"/>
    </optional>
  </define>
  <define name="sil.identity.committer">
    <element name="sil:committer">
      <interleave>
        <ref name="attlist.sil.committer"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <text/>
    </element>
  </define>
  <define name="attlist.sil.committer" combine="interleave">
    <optional>
      <attribute name="machid"/>
    </optional>
  </define>
  <define name="localeDisplayNames.special">
    <element name="special">
      <optional>
        <ref name="sil.names"/>
      </optional>
    </element>
  </define>
  <define name="sil.names">
    <element name="sil:names">
      <oneOrMore>
        <ref name="sil.name"/>
      </oneOrMore>
    </element>
  </define>
  <define name="sil.name">
    <element name="sil:name">
      <interleave>
        <ref name="attlist.silname"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <text/>
    </element>
  </define>
  <define name="attlist.silname" combine="interleave">
    <attribute name="xml:lang"/>
  </define>
  <define name="delimiters.special">
    <element name="special">
      <ref name="attlist.delimiters"/>
      <group>
        <optional>
          <ref name="sil.matchedpairs"/>
        </optional>
        <optional>
          <ref name="sil.punctuation.patterns"/>
        </optional>
        <optional>
          <ref name="sil.quotation-marks"/>
        </optional>
      </group>
    </element>
  </define>
  <define name="sil.quotation-marks">
    <element name="sil:quotation-marks">
      <interleave>
        <ref name="attlist.sil.quotation-marks"/>
        <ref name="attlist.sil.global"/>
      </interleave>
      <group>
        <optional>
          <element name="sil:quotationContinue">
            <text/>
          </element>
          <optional>
            <element name="sil:alternateQuotationContinue">
              <text/>
            </element>
          </optional>
        </optional>
        <zeroOrMore>
          <ref name="sil.quotation"/>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="attlist.sil.quotation-marks" combine="interleave">
    <optional>
      <attribute name="paraContinueType">
        <choice>
          <value>all</value>
          <value>outer</value>
          <value>inner</value>
          <value>none</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="sil.quotation">
    <element name="sil:quotation">
      <interleave>
        <ref name="attlist.sil.quotation"/>
        <ref name="attlist.sil.global"/>
      </interleave>
    </element>
  </define>
  <define name="attlist.sil.quotation" combine="interleave">
    <attribute name="open"/>
  </define>
  <define name="attlist.sil.quotation" combine="interleave">
    <optional>
      <attribute name="close"/>
    </optional>
  </define>
  <define name="attlist.sil.quotation" combine="interleave">
    <optional>
      <attribute name="continue"/>
    </optional>
  </define>
  <define name="attlist.sil.quotation" combine="interleave">
    <attribute name="level"/>
  </define>
  <define name="attlist.sil.quotation" combine="interleave">
    <optional>
      <attribute name="type">
        <choice>
          <value>narrative</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="sil.punctuation.patterns">
    <element name="sil:punctuation-patterns">
      <oneOrMore>
        <ref name="sil.punctuation.pattern"/>
      </oneOrMore>
    </element>
  </define>
  <define name="sil.punctuation.pattern">
    <element name="sil:punctuation-pattern">
      <interleave>
        <ref name="attlist.sil.punctuation-pattern"/>
        <ref name="attlist.sil.global"/>
      </interleave>
    </element>
  </define>
  <define name="attlist.sil.punctuation-pattern" combine="interleave">
    <attribute name="pattern"/>
  </define>
  <define name="attlist.sil.punctuation-pattern" combine="interleave">
    <optional>
      <attribute name="context">
        <choice>
          <value>init</value>
          <value>medial</value>
          <value>final</value>
          <value>break</value>
          <value>isolate</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="sil.matchedpairs">
    <element name="sil:matched-pairs">
      <oneOrMore>
        <ref name="sil.matchedpair"/>
      </oneOrMore>
    </element>
  </define>
  <define name="sil.matchedpair">
    <element name="sil:matched-pair">
      <interleave>
        <ref name="attlist.sil.matched-pair"/>
        <ref name="attlist.sil.global"/>
      </interleave>
    </element>
  </define>
  <define name="attlist.sil.matched-pair" combine="interleave">
    <attribute name="open"/>
  </define>
  <define name="attlist.sil.matched-pair" combine="interleave">
    <attribute name="close"/>
  </define>
  <define name="attlist.sil.matched-pair" combine="interleave">
    <optional>
      <attribute name="paraClose">
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  <define name="characters.special">
    <element name="special">
      <zeroOrMore>
        <element name="sil:exemplarCharacters">
          <interleave>
            <ref name="attlist.sil.exemplarCharacters"/>
            <ref name="attlist.sil.global"/>
          </interleave>
          <text/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.sil.exemplarCharacters" combine="interleave">
    <attribute name="type"/>
  </define>
</grammar>
